**Pandas series and dataframe**

In [1]:
import pandas as pd

In [3]:
students_data = dict(business=25, AI=30, JS=30, JAVA=27)
students_data

{'business': 25, 'AI': 30, 'JS': 30, 'JAVA': 27}

In [4]:
series_program = pd.Series(students_data)
series_program

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [5]:
print(series_program)

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [7]:
series_program.iloc[0], series_program.iloc[-1]

(np.int64(25), np.int64(27))

In [8]:
series_program.keys()

Index(['business', 'AI', 'JS', 'JAVA'], dtype='object')

In [9]:
series_program["AI"]

np.int64(30)

In [11]:
print(series_program["AI"])

30

In [12]:
import random as rnd

In [17]:
rnd.seed(42)
dice_list= [rnd.randint(1,6) for _ in range(5)]
dice_list

[6, 1, 1, 6, 3]

In [18]:
dice_series =pd.Series(dice_list)
dice_series

0    6
1    1
2    1
3    6
4    3
dtype: int64

In [20]:
dice_series.min(),dice_series.max(),dice_series.mean()

(np.int64(1), np.int64(6), np.float64(3.4))

**Dataframe**

In [23]:
df_programs =pd.DataFrame(series_program, columns=("Num students",))
df_programs

          Num students
business            25
AI                  30
JS                  30
JAVA                27

In [25]:
students = pd.Series(dict(AI=25, NET=30, APP=30, JAVA=27))
language = pd.Series(dict(AI="Python", NET="C#", APP="Kotlin", JAVA="JAVA"))
students, language

(AI      25
 NET     30
 APP     30
 JAVA    27
 dtype: int64,
 AI      Python
 NET         C#
 APP     Kotlin
 JAVA      JAVA
 dtype: object)

In [27]:
df_programs =pd.DataFrame({"Students":students, "Language":language})
df_programs

      Students Language
AI          25   Python
NET         30       C#
APP         30   Kotlin
JAVA        27     JAVA

In [28]:
import numpy as np

In [31]:
pd.DataFrame(
    {
        "Students":np.array((25,30,30,27)),
        "Language":["Python","C#","Kotlin","Java"]
    
    }, 
    index= ["AI",".NET","APP","JAVA"]
    )

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
JAVA        27     Java

In [32]:
df_programs.index

Index(['AI', 'NET', 'APP', 'JAVA'], dtype='object')

**Data selection**

In [33]:
df_programs["Students"]

AI      25
NET     30
APP     30
JAVA    27
Name: Students, dtype: int64

In [34]:
df_programs[["Language","Students"]]

     Language  Students
AI     Python        25
NET        C#        30
APP    Kotlin        30
JAVA     JAVA        27

In [35]:
df_programs.Language

AI      Python
NET         C#
APP     Kotlin
JAVA      JAVA
Name: Language, dtype: object

In [37]:
df_programs["Language"]["NET"]

'C#'

**Indexers**

In [38]:
df_programs.loc["JAVA"]

Students      27
Language    JAVA
Name: JAVA, dtype: object

In [41]:
df_programs.loc[["JAVA","APP"]]

      Students Language
JAVA        27     JAVA
APP         30   Kotlin

In [42]:
try:
    df_programs.loc[["JAVA", "APP"]]
except KeyError as err:
    print(err)

In [43]:
df_programs.loc["AI":"APP"]

     Students Language
AI         25   Python
NET        30       C#
APP        30   Kotlin

In [45]:
df_programs.iloc[1:3]

     Students Language
NET        30       C#
APP        30   Kotlin

**Masking**

In [46]:
df_programs["Students"] > 25

AI      False
NET      True
APP      True
JAVA     True
Name: Students, dtype: bool

In [47]:
df_programs[df_programs["Students"]>25]

      Students Language
NET         30       C#
APP         30   Kotlin
JAVA        27     JAVA

In [48]:
df_programs.query("Students > 25")

      Students Language
NET         30       C#
APP         30   Kotlin
JAVA        27     JAVA